Source: dollarskip
Section: utils
Priority: optional
Maintainer: Ryan Fortner <ryankfortner@gmail.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.0
Homepage: https://github.com/CleanMachine1/DollarSkip

Package: dollarskip
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: A simple c program to skip $ when copying shell commands
 DollarSkip is a short piece of C code designed to ignore the dollar symbol at the start of commands.
 It aims to solve the annoyance of copying commands and having the annoying error of command not found.